@use './partials/variables' as *;



$fa-font-path: '../fonts/webfonts';   

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';


@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap");

@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
    font-family: "Lexend", sans-serif;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .title-2nd {
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 7rem;
    transform: translateY(-30%);
  }
  
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  .shadow-white {
    box-shadow: 0px 0px 45px 39px rgba(255, 255, 255, 1);
  }
  
  .corsive-text {
    font-family: "Lobster", cursive;
  }
  
  .sepia-gradient {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 43%,
      rgba(125, 74, 23, 0.6) 100%
    );
  }

  .f-d-btn-color {
    background-color: #223440;
    color: white;
  }

  .f-d-btn-color-green {
    background-color: #1d8f23;
    color: white;
  }

  .f-d-btn-color-orange {
    background-color: #f28b0c;
    color: white;
  }

  .f-d-primary-color {
    color: $background-primary-color;
}

  .gradientColor {
    background: linear-gradient(90deg, $background-primary-color, $background-secondary-color, $background-primary-color, $background-secondary-color, $background-primary-color);
    -webkit-background-clip: text;
    /* Safari/Chrome */
    -moz-background-clip: text;
    /* Firefox */
    -o-background-clip: text;
    /* Opera */
    background-clip: text;
    /* Standard */
    color: transparent;
}

.f-d-button {
  height: 30px;
  background-color: $background-tertiary-color;
  border: none;
  color: black;
  font-weight:500;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  &:hover {
      background-color: $background-tertiary-color;
  }
}

